<!-- add the twitter card and open graph tags -->
<meta name="twitter:card" content="summary">
<meta property="og:title" content="{{.Title}}">
<meta property="twitter:title" content="{{.Title}}">
<meta property="og:description" content="{{.Summary}}">
<meta property="twitter:site" content="https://djnavarro.net">
<meta property="twitter:description" content="{{.Summary}}">
<meta property="og:image" content="{{.Site.Params.TwitterImage}}">

<!-- plausible.io -->
<script async defer data-domain="djnavarro.net" src="https://plausible.io/js/plausible.js"></script>

<!-- strapless -->
<link rel="stylesheet" href="{{ "/css/strapless.css" | relURL }}" /> 
<link rel="stylesheet" href="{{ "/css/style_tweak.css" | relURL }}" />

<!-- mastodon verification -->
<a rel="me" href="https://fosstodon.org/@djnavarro"></a>
<a rel="me" href="https://genart.social/@djnavarro"></a>

